body,
html {
  margin: 0;
  background: #ccc;
  font-family: monospace, "微軟正黑體", sans-serif;
  letter-spacing: 0.65px;
  font-size: 15px;
  color: #555;
  cursor: default;
  /* font-family: "Kosugi Maru", sans-serif; */
}

.resume {
  width: 900px;
  margin: 20px auto;
  position: relative;
}

.resume>section {
  background: #fbfbfb;
  border: 1px solid #bbb;
  box-shadow: 0 0 20px -3px #bbb;
  margin-top: 12px;
  padding: 20px;
  border-radius: 4px;
}

.resume>section:first-of-type {
  padding: 12px 0px;
}

.baseInfo {
  text-align: center;
}

.baseInfo .myNav {
  background-color: #27648d;
  font-size: 1.75rem;
  color: #fbfbfb;
  text-align: left;
  padding-left: 75px;
  line-height: 40px;
}

.baseInfo .myNav::before {
  content: " ";
  width: 12px;
  height: 40px;
  background-color: #fbfbfb;
  position: absolute;
  font-size: 20px;

  left: 20px;
}

.baseInfo .myContainer {
  width: 80%;
  margin: 0 auto;
}
.myContainer > div{
  display: inline-block;
  margin: 8px;
  vertical-align: top;
  min-height: 100%;
  max-height: 1080px;
  text-align: center;
  vertical-align: middle;
}
.myContainer > div:first-of-type{
  margin-right: 80px;
}
.myContainer > div:last-of-type{
  margin-left: 80px;
  }
/* .baseInfo > div:not(:first-of-type) {
  display: inline-block;
  margin: 8px;
  vertical-align: top;
  min-height: 100%;
  max-height: 1080px;
  text-align: center;
  vertical-align: middle;
} */
.baseInfo .seek {
  border-top: 2px #515151 solid;
  width: 624px;
  margin: 0 auto;
  padding: 8px 0 2px 0;
}

.myname {
  border-bottom: 2px #515151 solid;
  margin-bottom: 8px;
}

.profile {
  margin-top: 12px;
}

.profile .contact>div {
  display: flex;
  margin: 4px;
}

.profile .contact i {
  color: #fcfcfc;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 12%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}
.address i{
  background: #0077bf;
}
.call i {
  background: #28a362;
}
.email i {
  background: #dc3545;
}

.profile .contact span {
  margin-top: 12px;
}

.photo {
  position: relative;
  width: 140px;
  height: 220px;
  margin: 50px;
  color: #ffffff;
  background-color: #20527c;
  text-align: center;
  line-height: 48px;
  padding: 16px;
  font-weight: bold;
}

.photo::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 110px solid transparent;
  border-right: 60px solid #20527c;
  border-bottom: 110px solid transparent;
}

.photo::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 110px solid transparent;
  border-left: 60px solid #20527c;
  border-bottom: 110px solid transparent;
}

.photo2 {
  position: relative;
  width: 120px;
  height: 196px;
  margin: 50px;
  color: #ffffff;
  background-color: #fbfbfb;
  text-align: center;
  line-height: 48px;
  padding: 16px;
  font-weight: bold;
  top: -54px;
  left: -56px;
  z-index: 3;
}

.photo2::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 98px solid transparent;
  border-right: 54px solid #fbfbfb;
  border-bottom: 98px solid transparent;
}

.photo2::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 98px solid transparent;
  border-left: 54px solid #fbfbfb;
  border-bottom: 98px solid transparent;
}

.photo img {
  /* width: 88%; */
  width: 150%;
  border-radius: 50%;
  z-index: 56;
  position: relative;
  top: -16px;
  left: -20px;
}

.mainInfo h3>i,
.myProject h3>i {
  color: #fcfcfc;
  background: #27648d;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}

.edu ul,
.exrerience ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  left: 35px;
}

.edu ul li,
.exrerience ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.edu ul li::before,
.exrerience ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #3d405b;
  background: #fcfcfc;
  border-radius: 50%;
  left: 0;
  z-index: 1;
}

.edu ul li::after,
.exrerience ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  background: #3d405b;
  left: 8px;
  top: 0;
}

.edu small,
.exrerience small {
  display: block;
  opacity: 0.7;
}

.skills-prog ul{
  list-style-type: none;
  position: relative;
  left: 35px;
  display: inline-block;
}

.skills-prog li .progress {
  width: 500px;
  float: right;
  margin-top: 6px;
}

.award-base {
  text-align: center;
}

.award-base>div {
  display: inline-block;
}







#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #27648d;
  left: 690px;
  top: 0;
  position: absolute;
  margin-top: 20px;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  position: relative;
  clear: both;
}

#timeline .timeline-item .timeline-icon,
#timeline .timeline-item-right .timeline-icon {
  background: #27648d;
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;
  left: 680px;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

#timeline .timeline-item-right .timeline-icon {
  width: 30px;
  height: 30px;
  left: 689px;
  top: 12px;
}

#timeline .timeline-item .timeline-icon i,
#timeline .timeline-item-right .timeline-icon i {
  color: #fcfcfc;
  width: 52px;
  height: 52px;
  font-size: 32px;
  line-height: 48px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}

#timeline .timeline-item-right .timeline-icon i::before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background: #fcfcfc;
  border-radius: 50%;
  left: 4px;
  top: 4px;
  z-index: 1;
}

#timeline .timeline-item .timeline-content,
#timeline .timeline-item-right .timeline-content {
  width: 640px;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item-right .timeline-content {
  width: 120px;
  position: relative;
  float: right;
}

#timeline .timeline-item .timeline-content h5,
#timeline .timeline-item-right .timeline-content h5 {
  padding: 15px;
  background: #27648d;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 640px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #27648d;
}

#timeline .timeline-item-right .timeline-content:before {
  content: '';
  position: absolute;
  right: 120px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #27648d;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
}

#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #27648d;
}

.footer{
background-color: #3a3a3a;
padding-top: 24px;
padding-bottom: 16px;
width: 900px;
margin: 0 auto;
text-align: center;
color: #fbfbfb;
}
.footer a{
  text-decoration: none;
  color: #fbfbfb;
  transition: color 0.1s linear;
}